name: azt
description: azt app

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.5

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^0.12.0+2
  flutter_html: ^1.0.0-pre.1
  shared_preferences: ^0.5.12+4
  splashscreen: ^1.2.0
  fluttertoast: ^3.1.3
  mvc_pattern: ^3.4.3
  url_launcher: ^5.2.5
  json_serializable: ^3.2.2
  firebase_messaging: ^7.0.3
  integration_test: ^1.0.1
  font_awesome_flutter: ^8.11.0
  date_time_format: ^1.1.1+1
  intl: ^0.16.1
  date_time_picker: ^1.1.1
  loading_indicator: ^1.2.0
  provider: ^4.3.3
  flutter_native_splash: ^0.2.9
  flutter_zalo_login: ^0.1.9+1
  flutter_animated_dialog: ^1.2.0
  webview_flutter: ^1.0.7
  package_info: ^0.4.3+4
  apple_sign_in: ^0.1.0
  crypto: ^2.1.5
  dotted_border: ^1.0.7
  image_picker: ^0.6.7+22
  file_picker: ^2.1.7
  flutter_switch: ^0.2.0
  mime: ^1.0.0
  google_fonts: ^1.1.2
  
  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
#  cupertino_icons: ^1.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
#  integration_test:
#    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
   - assets/logo.png
   - assets/zalo.png
   - assets/code.png
   - assets/class.png
   - assets/store.png

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages